@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <style>
        body {
            background-image: url("https://picsum.photos/id/237/200/300");
            width: 100%;
            background-size: 20%;
        }
    </style>

    <div class="container mt-lg-5"></div>
        <h1 class="display-1 text-light">Cat Web</h1>
</div>
