html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*.navbar-brand a {
    color: black;
    font-family: 'Roboto', sans-serif;*/
    
/*}*/
/*.nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.container{
    max-width: 100%;
    padding: 0 0 0 0;
}
.background {
    max-width: 100%;
    padding: 0 0 0 0;
}*/
.display-4 {
   font-weight:700;
   color: white;
}